dacite==1.9.2
homeassistant==2026.7.4
voluptuous==0.15.2
pre-commit==4.6.1
reorder-python-imports==3.17.0
pytest==9.1.1
pytest-homeassistant-custom-component==0.13.348
pytest-asyncio==1.4.0
pytest-socket==0.8.0
respx==0.23.1
aioresponses==0.7.9
Brotli==1.2.0
