dacite==1.9.2
homeassistant==2025.10.2
voluptuous==0.15.2
pre-commit==4.3.0
reorder-python-imports==3.15.0
pytest==8.4.1
pytest-homeassistant-custom-component==0.13.272
pytest-asyncio==1.1.0
pytest-socket==0.7.0
respx==0.22.0
aioresponses==0.7.8
Brotli==1.2.0
